name: Publish Release

on:
  release:
    types: [published]

jobs:
  build-and-publish:
    name: Build and publish dash-bootstrap-templates to PyPI and TestPyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install . build

      - name: Build package
        run: python -m build --sdist --wheel --outdir dist/

      - name: Publish dash-bootstrap-templates to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/

       - name: Publish dash-bootstrap-templates to PyPI
         uses: pypa/gh-action-pypi-publish@v1.4.2
         with:
           password: ${{ secrets.PYPI_API_TOKEN }}
